<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="/">About</a></li>
            <li style="float: right"><a href="../login">Login</a></li>
        </ul>
        <h2>About</h2>
        <p>This application is designed to allow users to add and view reports of defects found in their local area</p>
        <h3>Dataset</h3>
        <p>This application uses the dataset and database created for my honours Project</p>
        <h3>Libraries</h3>
        <p><a href ="https://pypi.org/project/flask-googlemaps/">flask_googlemaps</a> - Used to load the Google Map</p>
        <p><a href ="https://pypi.org/project/Pyrebase4/">pyrebase4</a> - Used to handle interactions with Firebase</p>

    </body>
</html>